.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #f00000;
    border-radius: 10px;
    background-color: #ff6f6f;
  }
  
  input,
  textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #030303;
    font-size: 16px;
  }
  
  textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  button {

    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #439947;
  }
  